data/schemas/categories.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  
  <xs:element name="categories">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="category" type="CategoryType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="CategoryType">
    <xs:sequence>
      <xs:element name="id" type="xs:string"/>
      <xs:element name="slug" type="xs:string"/>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
      <xs:element name="image" type="xs:string" minOccurs="0"/>
      <xs:element name="order" type="xs:integer"/>
      <xs:element name="isActive" type="xs:boolean"/>
      <xs:element name="parentId" type="xs:string" minOccurs="0"/>
      <xs:element name="createdAt" type="xs:dateTime"/>
      <xs:element name="updatedAt" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
