data/schemas/employees.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="employees">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="employee" type="EmployeeType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="EmployeeType">
    <xs:sequence>
      <xs:element name="id" type="xs:string"/>
      <xs:element name="lastName" type="xs:string"/>
      <xs:element name="firstName" type="xs:string"/>
      <xs:element name="cin" type="xs:string"/>
      <xs:element name="phone" type="xs:string"/>
      <xs:element name="address" type="xs:string"/>
      <xs:element name="position" type="xs:string"/>
      <xs:element name="amount" type="xs:decimal"/>
      <xs:element name="hireDate" type="xs:string"/>
      <xs:element name="isActive" type="xs:boolean"/>
      <xs:element name="createdAt" type="xs:dateTime"/>
      <xs:element name="updatedAt" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
