data/schemas/news.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="news">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="article" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="id" type="xs:string"/>
              <xs:element name="slug" type="xs:string"/>
              <xs:element name="title" type="xs:string"/>
              <xs:element name="excerpt" type="xs:string"/>
              <xs:element name="content" type="xs:string"/>
              <xs:element name="image" type="xs:string"/>
              <xs:element name="date" type="xs:dateTime"/>
              <xs:element name="author" type="xs:string"/>
              <xs:element name="category" type="xs:string"/>
              <xs:element name="isActive" type="xs:boolean"/>
              <xs:element name="tags" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="tag" type="xs:string" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
